<div class="container-fluid-1440">
    <div id="<%= post.layout %>-<%= post.slug %>" class="post post-type-<%= post.layout %>" itemscope
             itemprop="blogPost">
        <header>
            <h1 class="page-title">
                <%- page.title %>
            </h1>
        </header>
        <div class="content" itemprop="articleBody">
            <%-page.content %>
        </div>
    </div>
</div>
